<?xml version="1.0"?>
<!--需要已知地图位于/home/zbt/load.yaml和/home/zbt/load.pbstream-->
<launch>
    <include file="$(find ls01g)/launch/ls01g.launch" />
    <include file="$(find art_imu)/launch/imu.launch"/>
    <include file="$(find dlut_car)/launch/tf_info.launch"/>
    <include file="$(find cartographer_ros)/launch/demo_taurob_tracker.launch"/>
    <node name="joy" pkg="joy" type="joy_node"/>
    <node name="car_joy" pkg="dlut_car" type="car_joy.py"/>
    <node name="car_serial" pkg="dlut_car" type="car_serial" output="screen"/> 
    <node name="map_server" pkg="map_server" type="map_server" args="/home/zbt/load.yaml" output="screen"/>
    <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find dlut_car)/config/ekf_params.yaml" />
    </node>
    <!--node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz"/-->
</launch>