<?xml version="1.0"?>

<launch>
    <!--node pkg="tf" type="static_transform_publisher" name="base_odom" args="0.0 0.0 0.15 0.0 0.0 0.0 /odom /base_link 50"/-->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint2base_link" args="0.0 0.0 0.15 0.0 0.0 0.0 /base_footprint /base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_laser" args=" 0.07 0.0 0.0 0.0 0.0 0.0 /base_link /laser_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_imu" args="0.095 0.0 0.0 -1.57 0.0 0.0 /base_link /IMU_link 100"/>
</launch>